[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
paramiko = "*"
pygments = "*"
py2app = "*"
pywin32-ctypes = "*"
pyqtdarktheme = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.11"
